body {
    
    
    background-image: url(../Content/Images/bg.jpg);
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: navy;
  
}

.card-title {
    color:aquamarine;
}

.card { 
    background: linear-gradient(#3d0a55, navy);
    opacity: .9;
    padding: 20px;
    color: white;
    border-radius: 5px;
    height: 180px;
    
}

.card-text {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.myTable {
    background-color: white;
    border-radius: 5px;
}

h2 {
    color:white;
}

footer { 
    color: white;
}

.jumbotron {
    background: linear-gradient(lightblue, navy);
    color: white;
    opacity: .9;
}



