
@{
    ViewBag.Title = "Ships";
}

<h2>@ViewBag.Title</h2>

    <table class="table table-striped" style="width:auto">
        <thead class="thead-light">
            <tr>
                <th>Ship Name</th>
                <th>Manufacturer</th>
                <th>Role</th>
                <th>State</th>
            </tr>
        </thead>
    </table>



