
@{
    ViewBag.Title = "Organizations";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6 myTable" style="width:auto">
        <table class="table table-striped" style="width:auto">
            <thead class="thead-light">
                <tr>
                    <th>Org Name</th>
                    <th>Members</th>
                    <th>Language</th>
                    <th>Role</th>
                </tr>
            </thead>
        </table>
        </div>
    </div>
