@model SCFOWebsite.ViewModels.Home.OrgViewModel

@{
    ViewBag.Title = "Organizations";
    SCFOWebsite.Models.User u = null;
    if (Session["loggedIn"] != null)
    {
        u = (SCFOWebsite.Models.User)Session["loggedIn"];
    }

}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 myTable">
            @Html.ActionLink("Create New Organization", "Create", "OrgCRUD", null, new { @class = "btn btn-primary" });
            
            @{ Html.RenderAction("OrgSearch"); }
        </div>
        @if (u != null)
        {
            <div class="col-md-1 myTable" style="margin-left:10px">
                @{
                    Html.RenderAction("OrgName", "UsersCRUD", new { id = u.orgId });
                    Html.RenderAction("List", "UsersCRUD", new { id = u.orgId });
                }
            </div>
         }
    </div>
</div>
